.charsPage {
    text-align: center;
    width: 70.83%;
    margin: auto;
}
.logo {
    max-width: 100%;
}
input {
    height: 36px;
    width: 100%;
    border: 0;
}
.search {
    display: inline-flex;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: calc(100% - 28px);
}
.loupe {
    margin-right: 10px;
    order: -1;
}
.filterWrapper {
    margin-bottom: 30px;
}

.login {
    width: auto;
    height: 36px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    position: relative;
}
.loginBtn {
    padding: 5px 5px;
    border: 2px solid #F2F2F7;
    border-radius: 28px;
    cursor: pointer;
    background-color: #FFFFFF;
}
.profile {
    width: auto;
    float: left;
    display: flex;
}
.profile button {
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    color: #0095b6;
}
.profile img {
    height: 50px;
    float: left;
    border-radius: 25px;
}
.profileData {
    display: flex;
    padding: 3px 3px;
    border: 2px solid #F2F2F7;
    border-radius: 28px;
}
@media screen and (max-width: 480px) {
    .charsPage {
        width: 86.6%;
    }
    .logo {
        margin-top: 90px;
        width: 100%;
    }
}