.charsPage {
    text-align: center;
    width: 70.83%;
    margin: auto;
}
.logo {
    max-width: 100%;
}
input {
    height: 36px;
    width: 100%;
    border: 0;
}
.search {
    display: inline-flex;
    padding: 10px;
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: calc(100% - 28px);
}
.loupe {
    margin-right: 10px;
    order: -1;
}
.filterWrapper {
    margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
    .charsPage {
        width: 86.6%;
    }
    .logo {
        margin-top: 90px;
        width: 100%;
    }
}